// imports
@import "../../../styles/mixins/components/navigation/responsive-navigation";

// Variable color
$white: #FFFFFF;
$blackNight: #0B0D17;
$blueLight: #D0D6F9;

// responsive mixins
@include navigation_tablet;
@include navigation_desktop;

.closedMenu {
  position: fixed;
  top: 0;
  right: 30%;
  margin: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background: transparent;
}
.links_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: $white;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 5px;
  margin-top: 13%;
  .link {
    font-style: normal;
    line-height: 50px;
    cursor: pointer;
  }
  .linkNumber {
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    margin: 20px;
    letter-spacing: 5px;
  }
}
.topSidebar {
  width: 100vw;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-top: 15px;
  .hamburgerLine {
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
  .hamburgerLine:nth-child(2){
    margin: 5px 0;
  }
}
.verticalMenuWrapper {
  box-sizing: content-box;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  overflow-x: hidden;
  padding-top: 60px;
}