@mixin responsive-tablet-home {
  @media screen and ( max-width: 769px ) {
    .container {
      width: 100vw !important;
      height: 100vh !important;
      background-image: url("../../public/assets/home/background-home-tablet.jpg")!important;
      background-size: cover!important;
    }
  }
}

@mixin responsive-tablet-destination {
  @media screen and ( max-width: 768px ) {

  }
}

@mixin responsive-tablet-crew {
  @media screen and ( max-width: 768px ) {

  }
}

@mixin responsive-tablet-technology {
  @media screen and ( max-width: 768px ) {

  }
}